.cook {
}
.container {
}
.cook__block {
    display: flex;
}
.banner__form {
}
.form-banner {
}
.order-form {
}
.form-banner__button {
}
.form-banner__button_none {
}
.form-banner__but {
}
.form-banner__text {
}
.form-banner__p {
}
.form-banner__subtext {
}
.form-banner__span {
}
.form-banner__catalog {
}
.form-banner__catalog-but {
}
.button {
}
.form-banner__catalog-info {
}
.banner-info {
}
.banner-info_none {
}
.banner-info__p {
}
.cook__photo {
    position: relative;
}
.cook__photo-img {
    height: 100%;
    width: 100%;
}
.cook__photo-img img {
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.cook__circle {
    background: #FED84C;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.cook__info {
}
.cook__name {
}
.cook__name-p {
}
.cook__job {
}
.cook__job-p {
}