.order {
    background: #081130;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.order__top-picture img {
    width: 100%;
}
.container {
}
.order__block {
    display: flex;
    justify-content: right;
    // gap: 84px;
    padding-top: 109px;
    padding-bottom: 459px;
}
.order__tell {
    position: absolute;
    bottom: 0;
    left: -60px;
    height: 74%;
}
.order__tell img {
    height: 100%;
    object-fit: cover;
}
.order__bot-picture img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.order-form {
    padding: 15px;
    z-index: 2;
    background: #0811306b;
}
.banner-info_none {
    display: none;
}
.form-banner__button_none {
    &::after {
        display: none;
    }
    &::before {
        display: none;
    }
}

@media (max-width: 1441px) {
    .order-form {
        padding-top: 80px;
        padding-bottom: 265px;
        height: 100%;
    }
    .order__block {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .order__tell {
        height: 68%;
    }
}
@media (max-width: 1025px) {
    .order__tell {
        height: 75%;
    }
    .order__block {
        padding-bottom: 41px;
    }
}
@media (max-width: 426px) {
    .order__block {
        padding-bottom: 11px;
    }
    .order-form {
        padding-bottom: 152px;
        padding-top: 27px;
    }
}